html {
    background-color:  rgb(255, 219, 255);
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h1 {
    color: antiquewhite;
    background-color:plum;
    padding: 16px;
    border-style: double;
}

.content-box {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 700px;
    margin: 24px auto 24px;
    padding: 16px;
}

.homepic {
    height: auto;
    width: 300px;
}

.body2 {
    display:inline-block;
    vertical-align: top;

}

ul {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

